/* STYLE RESETS */
html {
  font-size: 62.5%; /*results in 10px. to ease rem size. ie: 2.4rem === 24px*/
  scroll-behavior: smooth;
}

:root {
  --primary: #1faac8;
  --secondary: #f75c03;
  --black: #1a1f16;
  --white: #ffffff;
  --grey: #f5f5f5;
  --grey-2: #353634;
  --grey-3: #535353;
  --grey-4: #e2e2e2;
  --page-pad-x: 2.4rem;
  --page-section-pad-y: 6.4rem;
  --btn-pad-x: 1.2rem;
  --btn-pad-y: 0.8rem;
  --btn-bor-rad: 0.6rem;
  --btn-font-size-mobile: 1.6rem;
  --btn-font-size: 1.6rem;
  --font-bold: 700;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--white);
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-size: 3.8rem;
  font-weight: 700;
}

h2 {
  font-size: 3.2rem;
  font-weight: 700;
}

h3 {
  font-size: 2.4rem;
  font-weight: 700;
}

h1 {
  line-height: 7rem;
}

a {
  color: var(--black);
  text-decoration: none;
}

p,
span,
blockquote,
a,
button,
label,
input,
textarea {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

input,
textarea {
  width: 100%;
  padding: 1rem 1.2rem;
}

input[type="submit"] {
  cursor: pointer;
}

a:active,
a:focus,
a:hover {
  color: var(--secondary);
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}

::backdrop {
  background: rgba(0, 0, 0, 0.3);
}

/* UTILS */
/* dont touch the ordering of the u_hide classes */
.u_hide_xs {
  visibility: hidden;
  position: absolute;
}

@media screen and (min-width: 650px) {
  .u_hide_xs {
    visibility: visible;
    position: initial;
  }

  .u_hide_sm {
    visibility: hidden;
    position: absolute;
  }
}

@media screen and (min-width: 900px) {
  .u_hide_sm {
    visibility: visible;
    position: initial;
  }

  .u_hide_md {
    visibility: hidden;
    position: absolute;
  }
}

@media screen and (min-width: 1200px) {
  .u_hide_md {
    visibility: visible;
    position: initial;
  }

  .u_hide_lg {
    visibility: hidden;
    position: absolute;
  }
}

.u_hide_all {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

/* COMMON COMPONENT STYLS */

.cmn_container {
  padding-left: var(--page-pad-x);
  padding-right: var(--page-pad-x);
  margin: 0 auto;
  max-width: 900px;
}

.cmn_navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--grey);
  background: var(--white);
  z-index: 1;
}

.cmn_navbar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cmn_navbar__hamburger {
  border: none;
  background: inherit;
  height: 2.4rem;
  width: 2.4rem;
}

.cmn_navbar__nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.cmn_navbar__links {
  display: flex;
  gap: 2rem;
}

.cmn_navbar__mobile_drawer {
  transition: visibilty 250ms, opacity 250ms;
}

.cmn_navbar__mobile_links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  width: 100%;
  background: white;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: 2;
}

.cmn_navbar__mobile_links::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cmn_button--outline {
  display: inline-block;
  border: 1px solid var(--black);
  padding: var(--btn-pad-y) var(--btn-pad-x);
  border-radius: var(--btn-bor-rad);
  font-size: var(--btn-font-size-mobile);
  text-align: center;
}
@media screen and (min-width: 700px) {
  .cmn_button--outline {
    font-size: var(--btn-font-size);
  }
}

.cmn_button--outline:hover {
  color: initial;
}

.cmn_button--outline_white {
  display: inline-block;
  border: 1px solid var(--white);
  padding: var(--btn-pad-y) var(--btn-pad-x);
  border-radius: var(--btn-bor-rad);
  font-size: var(--btn-font-size-mobile);
  text-align: center;
  color: var(--white);
}
@media screen and (min-width: 700px) {
  .cmn_button--outline_white {
    font-size: var(--btn-font-size);
  }
}

.cmn_button--outline_white:hover {
  color: initial;
}

.cmn_button--outline_primary {
  display: inline-block;
  border: 1px solid var(--primary);
  padding: var(--btn-pad-y) var(--btn-pad-x);
  border-radius: var(--btn-bor-rad);
  font-size: var(--btn-font-size-mobile);
  text-align: center;
  color: var(--primary);
}
@media screen and (min-width: 700px) {
  .cmn_button--outline_primary {
    font-size: var(--btn-font-size);
  }
}

.cmn_button--outline_secondary:hover {
  color: var(--secondary);
}

.cmn_button--outline_secondary {
  display: inline-block;
  border: 1px solid var(--secondary);
  padding: var(--btn-pad-y) var(--btn-pad-x);
  border-radius: var(--btn-bor-rad);
  font-size: var(--btn-font-size-mobile);
  text-align: center;
  color: var(--secondary);
}
@media screen and (min-width: 700px) {
  .cmn_button--outline_secondary {
    font-size: var(--btn-font-size);
  }
}

.cmn_button--outline_secondary:hover {
  color: var(--secondary);
}

.cmn_button--solid_secondary {
  display: inline-block;
  border: none;
  padding: var(--btn-pad-y) var(--btn-pad-x);
  border-radius: var(--btn-bor-rad);
  font-size: var(--btn-font-size-mobile);
  background: var(--secondary);
  color: var(--white);
  text-align: center;
}
@media screen and (min-width: 700px) {
  .cmn_button--solid_secondary {
    font-size: var(--btn-font-size);
  }
}

.cmn_button--solid_secondary:hover {
  color: var(--white);
}

.cmn_button--solid_primary {
  display: inline-block;
  border: none;
  padding: var(--btn-pad-y) var(--btn-pad-x);
  border-radius: var(--btn-bor-rad);
  font-size: var(--btn-font-size-mobile);
  background: var(--primary);
  color: var(--white);
  text-align: center;
}
@media screen and (min-width: 700px) {
  .cmn_button--solid_primary {
    font-size: var(--btn-font-size);
  }
}

.cmn_button--solid_primary:hover {
  color: var(--white);
}

.cmn_footer {
  background-color: var(--grey-3);
  color: var(--white);
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}

.cmn_footer__links {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  margin-bottom: 6rem;
}

.cmn_footer__site_links,
.cmn_footer__social_medias {
  list-style-type: none;
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}

.cmn_footer__site_link {
  color: var(--white);
}

.cmn_footer__site_link:hover {
  color: var(--primary);
}

.cmn_footer__botttom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cmn_footer__identity {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

.cmn_footer__note {
  font-size: 1rem;
}

.cmn_dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  padding: 2rem;
  padding-top: 8rem;
  border: 1px solid var(--grey);
  border-radius: 6px;
}

.cmn_dialog__close_btn {
  border: 1px solid var(--grey-2);
  border-radius: 6px;
  background: inherit;
  padding: 0.4rem;
  position: absolute;
  right: 1.8rem;
  top: 1.8rem;
}

.cmn_dialog__close_btn img {
  position: relative;
  top: 0.4rem;
}
