@import url("/common.css");

.root {
  padding-top: 12rem;
}

.main_headline {
  color: var(--primary);
}

/* SERVICES SECTION */
.services {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-bottom: 3.2rem;
}

.services__info {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.services__list {
  list-style-type: disc;
  padding-left: 3.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.services__headline {
  color: var(--primary);
}

/* AVAILABLE SECTION */
.available {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}

.available__headline {
  color: var(--primary);
}

.available__list {
  list-style-type: disc;
  padding-left: 3.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.available__info {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/* CONTACT SECTION */
.contact {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-top: 3.2rem;
  padding-bottom: 12rem;
}

.contact__headline {
  color: var(--primary);
}

.contact__emphasis {
  color: var(--secondary);
  font-weight: var(--font-bold);
}

.contact__content {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}
@media screen and (min-width: 650px) {
  .contact__content {
    flex-direction: row;
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  flex: 1;
}

.contact__form_input_group {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.contract__social_media_list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.contact__social_media {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.contact__alternative {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  flex: 0;
  flex-basis: 24rem;
}

.contact__social_media_img_container {
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: var(--secondary);
  text-align: center;
}
