/* UTILS */
/* dont touch the ordering of the u_hide classes */
.u_hide_xs {
  visibility: hidden;
  position: absolute;
}

@media screen and (min-width: 650px) {
  .u_hide_xs {
    visibility: visible;
    position: initial;
  }

  .u_hide_sm {
    visibility: hidden;
    position: absolute;
  }
}

@media screen and (min-width: 900px) {
  .u_hide_sm {
    visibility: visible;
    position: initial;
  }

  .u_hide_md {
    visibility: hidden;
    position: absolute;
  }
}

@media screen and (min-width: 1200px) {
  .u_hide_md {
    visibility: visible;
    position: initial;
  }

  .u_hide_lg {
    visibility: hidden;
    position: absolute;
  }
}

.u_hide_all {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

/* COMMON COMPONENT STYLS */

.cmn_container {
  padding-left: var(--page-pad-x);
  padding-right: var(--page-pad-x);
  margin: 0 auto;
  max-width: 900px;
}

.cmn_button--outline {
  display: inline-block;
  border: 1px solid var(--font-color);
  padding: var(--btn-pad-y) var(--btn-pad-x);
  border-radius: var(--btn-bor-rad);
  font-size: var(--btn-font-size-mobile);
  text-align: center;
}
@media screen and (min-width: 700px) {
  .cmn_button--outline {
    font-size: var(--btn-font-size);
  }
}

.cmn_button--outline_white {
  display: inline-block;
  border: 1px solid var(--bg-color);
  padding: var(--btn-pad-y) var(--btn-pad-x);
  border-radius: var(--btn-bor-rad);
  font-size: var(--btn-font-size-mobile);
  text-align: center;
  color: var(--bg-color);
}
@media screen and (min-width: 700px) {
  .cmn_button--outline_white {
    font-size: var(--btn-font-size);
  }
}

.cmn_button--outline_primary {
  display: inline-block;
  border: 1px solid var(--primary);
  padding: var(--btn-pad-y) var(--btn-pad-x);
  border-radius: var(--btn-bor-rad);
  font-size: var(--btn-font-size-mobile);
  text-align: center;
  color: var(--primary);
}
@media screen and (min-width: 700px) {
  .cmn_button--outline_primary {
    font-size: var(--btn-font-size);
  }
}

.cmn_button--outline_secondary {
  display: inline-block;
  border: 1px solid var(--secondary);
  padding: var(--btn-pad-y) var(--btn-pad-x);
  border-radius: var(--btn-bor-rad);
  font-size: var(--btn-font-size-mobile);
  text-align: center;
  color: var(--secondary);
}
@media screen and (min-width: 700px) {
  .cmn_button--outline_secondary {
    font-size: var(--btn-font-size);
  }
}

.cmn_button--solid_secondary {
  display: inline-block;
  border: none;
  padding: var(--btn-pad-y) var(--btn-pad-x);
  border-radius: var(--btn-bor-rad);
  font-size: var(--btn-font-size-mobile);
  background: var(--secondary);
  color: var(--white);
  text-align: center;
}
@media screen and (min-width: 700px) {
  .cmn_button--solid_secondary {
    font-size: var(--btn-font-size);
  }
}

.cmn_button--solid_primary {
  display: inline-block;
  border: none;
  padding: var(--btn-pad-y) var(--btn-pad-x);
  border-radius: var(--btn-bor-rad);
  font-size: var(--btn-font-size-mobile);
  background: var(--primary);
  color: var(--white);
  text-align: center;
}
@media screen and (min-width: 700px) {
  .cmn_button--solid_primary {
    font-size: var(--btn-font-size);
  }
}
