---
import Layout from "../layouts/Layout.astro";
---

<Layout variant="empty">
  <div class="max-w-2xl p-4 bg-gradient-to-r from-primary to-secondary">
    <main class="max-w-3xl mx-auto text-center bg-skin-base p-20">
      <section>
        <span class="inline-block mb-1 text-skin-base text-[1.4rem]"
          >This page is...</span
        >
        <h1
          class="text-[5rem] font-bold bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent"
        >
          Not Found
        </h1>
      </section>
      <footer class="text-sm">
        <p class="mb-4 text-skin-base">
          Click <a
            class="text-primary hover:text-secondary transition-colors"
            href="/">here</a
          > to go back to home
        </p>
      </footer>
    </main>
  </div>
</Layout>
