---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="M Adnan Rizqullah, Software Engineer | About"
  variant="top-padding"
>
  <Navbar />

  <main>
    <section class="current cmn_container">
      <h1 class="main_headline">About Me</h1>
      <div class="current_info">
        <h2 class="current__headline">What am I up to now?</h2>
        <p>
          I'm currently in a physical and spiritual journey to the middle east
          until August 2025 (just kidding :D)
        </p>

        <p>
          I've decided to continue my studies to Saudi Arabia for personal
          reasons. Thankfully though. I was awared a scholarship for MSc program
          at at King Abdulaziz University, Jeddah. Top 50 subject based computer
          science ranking in the world. So while my primary reason to go
          overseas was personal, I should still learn some usefull stuff there
          :D
        </p>

        <p>
          Because I like Software Engineering field, my thesis is going to be
          around this field. I'm thinking of using Software Engineering to
          advance the field of Artificial Intelligence
        </p>

        <p>By the way, my expected graduation date is August 2025</p>
      </div>
    </section>

    <section class="learning cmn_container">
      <h2 class="learning__headline">What am I learning now ?</h2>
      <p>
        Right now I have interest to become a more generalist software engineer.
        I want to learn Backend and DevOps to complete the skill I have in
        Frontend
      </p>

      <p>
        Besides that I want to continue deepen my knowledge and skills in
        Computer Science
      </p>
    </section>

    <section class="reading cmn_container">
      <h2 class="reading__headline">What book am I reading now ?</h2>

      <p>I'm reading The Visual MBA by Jason Baron</p>
    </section>
  </main>

  <Footer />
  <script src="/about/index.js" is:inline></script>
</Layout>

<style>
  @import url("/common.css");

  .main_headline {
    color: var(--primary);
  }

  .current {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding-bottom: 3.2rem;
  }

  .current__headline {
    color: var(--primary);
  }

  .current_info {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  .learning {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }

  .learning__headline {
    color: var(--primary);
  }

  .reading {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding-top: 3.2rem;
    padding-bottom: 12rem;
  }

  .reading__headline {
    color: var(--primary);
  }
</style>
