---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="M Adnan Rizqullah, Software Engineer | About"
  variant="top-padding"
>
  <header class="cmn_navbar">
    <div class="cmn_navbar__inner cmn_container">
      <div>
        <a href="/">
          <img
            alt="Adnan Logo"
            src="/images/logo_black.png"
            width="26"
            height="19"
          />
        </a>
      </div>
      <nav class="cmn_navbar__nav">
        <ul class="u_hide_xs cmn_navbar__links">
          <li><a href="/"> Home </a></li>
          <li><a href="/portfolio/">Portfolio</a></li>
          <li><a href="/about/">About</a></li>
          <li>
            <a href="/contact/" class="cmn_button--outline">Contact Me</a>
          </li>
        </ul>
        <button
          id="mobile_drawer_toggle"
          class="u_hide_sm u_hide_md u_hide_lg cmn_navbar__hamburger"
        >
          <img
            id="mobile_drawer_open"
            src="/images/hamburger-menu.svg"
            alt=""
            width="24"
            height="24"
          />
          <img
            id="mobile_drawer_close"
            class="u_hide_all"
            src="/images/cross.svg"
            alt=""
            width="24"
            height="24"
          />
        </button>
      </nav>
    </div>
    <aside id="mobile_drawer" class="u_hide_all cmn_navbar__mobile_drawer">
      <ul class="cmn_navbar__mobile_links">
        <li><a href="/"> Home </a></li>
        <li><a href="/portfolio/">Portfolio</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </aside>
  </header>

  <main>
    <section class="current cmn_container">
      <h1 class="main_headline">About Me</h1>
      <div class="current_info">
        <h2 class="current__headline">What am I up to now?</h2>
        <p>
          I'm currently in a physical and spiritual journey to the middle east
          until August 2025 (just kidding :D)
        </p>

        <p>
          I've decided to continue my studies to Saudi Arabia for personal
          reasons. Thankfully though. I was awared a scholarship for MSc program
          at at King Abdulaziz University, Jeddah. Top 50 subject based computer
          science ranking in the world. So while my primary reason to go
          overseas was personal, I should still learn some usefull stuff there
          :D
        </p>

        <p>
          Because I like Software Engineering field, my thesis is going to be
          around this field. I'm thinking of using Software Engineering to
          advance the field of Artificial Intelligence
        </p>

        <p>By the way, my expected graduation date is August 2025</p>
      </div>
    </section>

    <section class="learning cmn_container">
      <h2 class="learning__headline">What am I learning now ?</h2>
      <p>
        Right now I have interest to become a more generalist software engineer.
        I want to learn Backend and DevOps to complete the skill I have in
        Frontend
      </p>

      <p>
        Besides that I want to continue deepen my knowledge and skills in
        Computer Science
      </p>
    </section>

    <section class="reading cmn_container">
      <h2 class="reading__headline">What book am I reading now ?</h2>

      <p>I'm reading The Visual MBA by Jason Baron</p>
    </section>
  </main>

  <footer class="cmn_footer">
    <div class="cmn_footer__inner cmn_container">
      <div class="cmn_footer__links">
        <div>
          <ol class="cmn_footer__site_links">
            <li><a class="cmn_footer__site_link" href="/">Home</a></li>

            <li>
              <a class="cmn_footer__site_link" href="/portfolio">Portfolio</a>
            </li>
            <li><a class="cmn_footer__site_link" href="/about">About</a></li>
            <li>
              <a class="cmn_footer__site_link" href="/contact">Contact</a>
            </li>
          </ol>
        </div>
        <div>
          <ol class="cmn_footer__social_medias">
            <li>
              <a href="https://www.linkedin.com/in/madnanrizqu/">
                <img
                  height="24"
                  width="24"
                  src="/images/linkedin.svg"
                  alt="LindedIn logo"
                />
              </a>
            </li>
            <li>
              <a href="https://github.com/rizquadnan">
                <img
                  height="24"
                  width="24"
                  src="/images/github.svg"
                  alt="Github logo"
                />
              </a>
            </li>
            <li>
              <a href="mailto:madnanrizqullah@gmail.com">
                <img
                  height="24"
                  width="24"
                  src="/images/google.svg"
                  alt="Google logo"
                />
              </a>
            </li>
            <li>
              <a href="https://twitter.com/madnanrizqu">
                <img height="24" width="24" src="/images/x.svg" alt="X logo" />
              </a>
            </li>
          </ol>
        </div>
      </div>
      <div class="cmn_footer__botttom">
        <div class="cmn_footer__identity">
          <div>
            <img
              src="/images/logo_white.png"
              alt="Adnan Logo"
              width="26"
              height="19"
            />
          </div>
          <span>Muhammad Adnan R</span>
        </div>
        <span class="cmn_footer__note">Made with ❤️ @ 2024 </span>
      </div>
    </div>
  </footer>
  <script src="/about/index.js" is:inline></script>
</Layout>

<style>
  @import url("/common.css");

  .main_headline {
    color: var(--primary);
  }

  .current {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding-bottom: 3.2rem;
  }

  .current__headline {
    color: var(--primary);
  }

  .current_info {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  .learning {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }

  .learning__headline {
    color: var(--primary);
  }

  .reading {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding-top: 3.2rem;
    padding-bottom: 12rem;
  }

  .reading__headline {
    color: var(--primary);
  }
</style>
