---
import Layout from "../layouts/Layout.astro";
---

<Layout title="M Adnan Rizqullah, Software Engineer" variant="navbar-only">
  <main
    class="relative h-screen pt-[4rem] md:pt-[5rem] cmn_container flex flex-col md:flex-row gap-12 md:items-center"
  >
    <div
      class="md:relative md:bottom-[92px] flex flex-col md:flex-row items-center md:justify-between gap-16 md:gap-6"
    >
      <div
        class="relative flex justify-center md:order-2 size-96 md:flex-1 md:w-full md:h-full image-gradient-shadow-host"
      >
        <img
          class="h-full aspect-square animate-border-shape rounded-full object-cover object-top grayscale"
          alt="Picture of Adnan smiling"
          srcset="/images/hero_mobile.png 500w, /images/hero.png 1000w"
          sizes="(max-width: 600px) 480px, 1000px"
        />
      </div>
      <div
        class="text-center md:text-start flex flex-col gap-3 md:gap-6 flex-1"
      >
        <h1 class="text-4xl md:text-5xl">Hi! I'm Adnan</h1>
        <span
          class="block text-7xl [@media(min-height:800px)_and_(min-width:400px)]:text-[5.5rem] [@media(min-height:800px)_and_(min-width:500px)]:text-8xl font-bold"
        >
          I <span
            class="animated-line-through text-7xl [@media(min-height:800px)_and_(min-width:400px)]:text-[5.5rem] [@media(min-height:800px)_and_(min-width:500px)]:text-8xl"
            >develop</span
          > engineer web applications
        </span>
        <span class="text-[1.2rem] md:text-base"
          >Well at least I try my best to do so!</span
        >
      </div>
    </div>
    <footer
      class="md:absolute bottom-10 left-10 right-10 md:left-10 md:right-auto"
    >
      <div class="flex flex-col gap-4">
        <a href="/portfolio" class="cmn_button--outline">View portfolio</a>
        <a
          href="/blog"
          class="cmn_button--solid_secondary bg-[var(--font-color)] text-[var(--bg-color)]"
          >View engineering case studies</a
        >
      </div>
    </footer>
  </main>
</Layout>

<style>
  @keyframes animatedBorderRadius {
    0% {
      border-radius: 70% 30% 80% 20% / 60% 40% 75% 25%;
    }
    25% {
      border-radius: 25% 75% 35% 85% / 70% 30% 80% 20%;
    }
    50% {
      border-radius: 80% 20% 70% 30% / 30% 70% 25% 75%;
    }
    75% {
      border-radius: 30% 80% 20% 70% / 75% 25% 60% 40%;
    }
    100% {
      border-radius: 70% 30% 80% 20% / 60% 40% 75% 25%;
    }
  }

  .animate-border-shape {
    border-radius: 70% 30% 80% 20% / 60% 40% 75% 25%;
    animation: animatedBorderRadius 4s infinite ease-in-out;
    animation-delay: 1.25s;
  }

  .image-gradient-shadow-host::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 30%;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(175deg, var(--font-color) 0%, var(--grey) 100%);
    border-radius: 70% 30% 80% 20% / 60% 40% 75% 25%;
    animation: animatedBorderRadius 4s infinite ease-in-out;
    animation-delay: 1.25s;
    transform: translateY(15%);
    filter: blur(30px);
    opacity: 0.8;
  }

  .animated-line-through {
    position: relative;
    display: inline-block;
  }

  .animated-line-through::after {
    content: "";
    position: absolute;
    left: 0;
    top: 30%;
    transform: translateY(-50%) rotate(7deg);
    transform-origin: left center;
    width: 0;
    height: 0.3em;
    background-color: var(--secondary);
    background-image:
      radial-gradient(
        circle,
        rgba(255, 255, 255, 0.025) 0.5px,
        transparent 1px
      ),
      radial-gradient(circle, rgba(0, 0, 0, 0.035) 0.5px, transparent 1px);
    background-size:
      4px 4px,
      3px 3px;
    background-position:
      0 0,
      1.5px 1.5px;
    background-repeat: repeat;
    filter: blur(0.4px);
    animation: strikeThroughAnimation 1s ease-in forwards;
  }

  @keyframes strikeThroughAnimation {
    from {
      width: 0%;
      opacity: 0.8;
    }
    to {
      width: 100%;
      opacity: 1;
    }
  }
</style>
