---
import Layout from "../layouts/Layout.astro";
---

<Layout
  variant="navbar-only"
  skipToMainContentTarget="#target-skip-main-content"
>
  <main
    id="landing-page"
    class="relative h-screen pt-[4rem] md:pt-[5rem] cmn_container flex flex-col md:flex-row gap-12 md:items-center"
  >
    <div
      class="md:relative md:bottom-[92px] flex flex-col md:flex-row items-center md:justify-between gap-16 md:gap-28"
    >
      <div
        class="relative flex justify-center md:order-2 size-96 md:w-[47%] md:h-[47%] image-gradient-shadow-host"
      >
        <img
          class="h-full aspect-square animate-border-shape rounded-full object-cover object-top grayscale"
          alt="Picture of Adnan smiling"
          srcset="/images/hero_mobile.png 500w, /images/hero.png 1000w"
          sizes="(max-width: 600px) 480px, 1000px"
        />
      </div>
      <div
        class="text-center md:text-start flex flex-col gap-3 md:gap-6 md:w-[50%]"
      >
        <h1 class="text-4xl md:text-5xl">Hi! I'm Adnan</h1>
        <span
          class="block text-7xl [@media(min-height:800px)_and_(min-width:400px)]:text-[5.5rem] [@media(min-height:800px)_and_(min-width:500px)]:text-8xl font-bold"
        >
          I <span
            class="animated-line-through text-7xl [@media(min-height:800px)_and_(min-width:400px)]:text-[5.5rem] [@media(min-height:800px)_and_(min-width:500px)]:text-8xl"
            >develop</span
          > engineer web applications
        </span>
        <span class="text-[1.2rem] md:text-base"
          >Well at least I try my best to do so!</span
        >
      </div>
    </div>
    <footer
      class="md:absolute bottom-10 left-10 right-10 md:left-10 md:right-auto"
    >
      <div class="flex flex-col gap-4">
        <a
          id="target-skip-main-content"
          href="/portfolio"
          class="cmn_button--outline">View portfolio</a
        >
        <a
          href="/blog?tags=Engineering"
          class="cmn_button--solid_invert animated-border-button"
          >View engineering case studies</a
        >
      </div>
    </footer>
  </main>
</Layout>

<style>
  :root {
    --animation-delay: 2s;
  }

  /* H1 animation */
  .animated-line-through {
    position: relative;
    display: inline-block;
  }

  .animated-line-through::after {
    content: "";
    position: absolute;
    left: 0;
    top: 30%;
    transform: translateY(-50%) rotate(7deg);
    transform-origin: left center;
    width: 0;
    height: 0.3em;
    background-color: var(--secondary);
    background-image:
      radial-gradient(
        circle,
        rgba(255, 255, 255, 0.025) 0.5px,
        transparent 1px
      ),
      radial-gradient(circle, rgba(0, 0, 0, 0.035) 0.5px, transparent 1px);
    background-size:
      4px 4px,
      3px 3px;
    background-position:
      0 0,
      1.5px 1.5px;
    background-repeat: repeat;
    filter: blur(0.4px);
    animation: strikeThroughAnimation 1s ease-in forwards;
  }

  @keyframes strikeThroughAnimation {
    from {
      width: 0%;
      opacity: 0.8;
    }
    to {
      width: 100%;
      opacity: 1;
    }
  }

  /* Button animation */
  @property --border-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  @keyframes border-angle-rotate {
    0% {
      --border-angle: 0deg;
    } /* Headshot Left-ish -> Button Border Left */
    25% {
      --border-angle: 180deg;
    } /* Headshot Right-ish -> Button Border Right */
    50% {
      --border-angle: 360deg;
    } /* Headshot Left-ish -> Button Border Left */
    75% {
      --border-angle: 540deg;
    } /* Headshot Right-ish -> Button Border Right */
    100% {
      --border-angle: 720deg;
    } /* Headshot Left-ish -> Button Border Left */
  }

  .animated-border-button {
    --border-angle: 0deg;
    position: relative;
    border: 0.35rem solid transparent;
    border-radius: var(--btn-bor-rad);

    background:
      linear-gradient(var(--font-color), var(--font-color)) padding-box,
      conic-gradient(
          from var(--border-angle),
          var(--font-color) 50%,
          var(--bg-color)
        )
        border-box;

    transition: all 250ms ease-in;

    animation: border-angle-rotate 8s infinite linear;
    animation-delay: var(--animation-delay);
  }

  .animated-border-button:hover,
  .animated-border-button:focus {
    background:
      linear-gradient(var(--font-color), var(--font-color)) padding-box,
      conic-gradient(
          from var(--border-angle),
          var(--bg-color) 50%,
          var(--secondary)
        )
        border-box;
    color: var(--bg-color) !important;
    outline: none;
  }

  /* Headshot animation */
  @keyframes animatedBorderRadius {
    0% {
      border-radius: 70% 30% 80% 20% / 60% 40% 75% 25%;
    }
    25% {
      border-radius: 25% 75% 35% 85% / 70% 30% 80% 20%;
    }
    50% {
      border-radius: 80% 20% 70% 30% / 30% 70% 25% 75%;
    }
    75% {
      border-radius: 30% 80% 20% 70% / 75% 25% 60% 40%;
    }
    100% {
      border-radius: 70% 30% 80% 20% / 60% 40% 75% 25%;
    }
  }

  .animate-border-shape {
    border-radius: 70% 30% 80% 20% / 60% 40% 75% 25%;
    animation: animatedBorderRadius 6s infinite linear;
    animation-delay: var(--animation-delay);
  }

  .image-gradient-shadow-host::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 30%;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(175deg, var(--font-color) 0%, var(--grey) 100%);
    border-radius: 70% 30% 80% 20% / 60% 40% 75% 25%;
    animation: animatedBorderRadius 6s infinite linear;
    animation-delay: var(--animation-delay);
    transform: translateY(15%);
    filter: blur(30px);
    opacity: 0.8;
    transition: background 1000ms linear;
  }

  #landing-page:hover .image-gradient-shadow-host::after,
  #landing-page:focus-within .image-gradient-shadow-host::after {
    background: linear-gradient(
      175deg,
      var(--secondary) 0%,
      var(--font-color) 100%
    );
  }
</style>
