.contact__form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  flex: 1;
}

.contact__form_input_group {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.contact__form_error_label {
  font-size: 1.2rem;
  color: red;
}
