---
interface Props {
  dialogId: string;
}

const { dialogId } = Astro.props;
---

<button class="trigger" data-open-dialog-id={dialogId}><slot /></button>

<style>
  .trigger {
    border: none;
    color: inherit;
    background-color: inherit;
    font-size: 1.4rem;
  }
</style>
