<footer class="footer" transition:persist>
  <div class="footer__inner cmn_container">
    <div class="footer__links">
      <div>
        <ol class="footer__site_links">
          <li><a class="footer__site_link" href="/">Home</a></li>
          <li>
            <a class="footer__site_link" href="/portfolio/">Portfolio</a>
          </li>
          <li><a class="footer__site_link" href="/about/">About</a></li>
          <li>
            <a class="footer__site_link" href="/contact/">Contact</a>
          </li>
        </ol>
      </div>
      <div>
        <ol class="footer__social_medias">
          <li>
            <a href="https://www.linkedin.com/in/madnanrizqu/">
              <img
                height="24"
                width="24"
                src="/images/linkedin.svg"
                alt="LindedIn logo"
              />
            </a>
          </li>
          <li>
            <a href="https://github.com/rizquadnan">
              <img
                height="24"
                width="24"
                src="/images/github.svg"
                alt="Github logo"
              />
            </a>
          </li>
          <li>
            <a href="mailto:madnanrizqullah@gmail.com">
              <img
                height="24"
                width="24"
                src="/images/google.svg"
                alt="Google logo"
              />
            </a>
          </li>
          <li>
            <a href="https://twitter.com/madnanrizqu">
              <img height="24" width="24" src="/images/x.svg" alt="X logo" />
            </a>
          </li>
        </ol>
      </div>
    </div>
    <div class="footer__botttom">
      <div class="footer__identity">
        <div>
          <img
            src="/images/logo_white.png"
            alt="Adnan Logo"
            width="26"
            height="19"
          />
        </div>
        <span>Muhammad Adnan R</span>
      </div>
      <span class="footer__note">Made with ❤️ @ 2024 </span>
    </div>
  </div>
</footer>

<style>
  @import url("/common.css");

  .footer {
    background-color: var(--grey-3);
    color: var(--white);
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
    margin-bottom: 6rem;
  }

  .footer__site_links,
  .footer__social_medias {
    list-style-type: none;
    display: flex;
    gap: 2.4rem;
    justify-content: center;
  }

  .footer__site_link {
    color: var(--white);
  }

  .footer__site_link:hover {
    color: var(--primary);
  }

  .footer__botttom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__identity {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
  }

  .footer__note {
    font-size: 1rem;
  }
</style>
