---
interface Props {
  size?: number;
}

const { size = 24 } = Astro.props;
---

<div class="flex items-center gap-3">
  <svg
    width={size}
    height={size}
    viewBox="0 0 1192 886"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve"
    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:3;"
    ><g
      ><g
        ><path
          d="M478.202,810.937l-426.119,-0l186.356,-685.094l592.404,707.388"
          style="fill:none;stroke:currentColor;stroke-width:104.17px;"
        ></path><path
          d="M713.331,99.377l426.119,0l-186.356,660.093l-592.404,-707.387"
          style="fill:none;stroke:currentColor;stroke-width:104.17px;"
        ></path></g
      ></g
    ></svg
  >
</div>
