<div class="root">
  <slot />
</div>

<style>
  .root {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 3.2rem;
  }

  .root :global(img) {
    width: 100%;
    max-width: 85vw;
    height: auto;
    border-radius: 0.5rem;
    box-shadow:
      var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
      var(--tw-shadow);
  }
</style>
