---
import Logo from "./Logo.astro";
---

<header class="navbar">
  <div class="navbar__inner cmn_container">
    <div>
      <a href="/">
        <Logo />
      </a>
    </div>
    <nav class="navbar__nav">
      <ul class="u_hide_xs navbar__links">
        <li><a href="/"> Home </a></li>
        <li><a href="/portfolio/">Portfolio</a></li>
        <li><a href="/about/">About</a></li>
        <li>
          <a href="/contact/" class="cmn_button--outline">Contact Me</a>
        </li>
      </ul>
      <button
        id="mobile_drawer_toggle"
        class="u_hide_sm u_hide_md u_hide_lg navbar__hamburger"
      >
        <svg
          id="mobile_drawer_open"
          width="24"
          height="24"
          viewBox="0 0 15 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M1.5 3C1.22386 3 1 3.22386 1 3.5C1 3.77614 1.22386 4 1.5 4H13.5C13.7761 4 14 3.77614 14 3.5C14 3.22386 13.7761 3 13.5 3H1.5ZM1 7.5C1 7.22386 1.22386 7 1.5 7H13.5C13.7761 7 14 7.22386 14 7.5C14 7.77614 13.7761 8 13.5 8H1.5C1.22386 8 1 7.77614 1 7.5ZM1 11.5C1 11.2239 1.22386 11 1.5 11H13.5C13.7761 11 14 11.2239 14 11.5C14 11.7761 13.7761 12 13.5 12H1.5C1.22386 12 1 11.7761 1 11.5Z"
            fill="currentColor"></path>
        </svg>
        <svg
          id="mobile_drawer_close"
          class="u_hide_all"
          width="24"
          height="24"
          viewBox="0 0 15 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.8536 2.85355C13.0488 2.65829 13.0488 2.34171 12.8536 2.14645C12.6583 1.95118 12.3417 1.95118 12.1464 2.14645L7.5 6.79289L2.85355 2.14645C2.65829 1.95118 2.34171 1.95118 2.14645 2.14645C1.95118 2.34171 1.95118 2.65829 2.14645 2.85355L6.79289 7.5L2.14645 12.1464C1.95118 12.3417 1.95118 12.6583 2.14645 12.8536C2.34171 13.0488 2.65829 13.0488 2.85355 12.8536L7.5 8.20711L12.1464 12.8536C12.3417 13.0488 12.6583 13.0488 12.8536 12.8536C13.0488 12.6583 13.0488 12.3417 12.8536 12.1464L8.20711 7.5L12.8536 2.85355Z"
            fill="currentColor"></path>
        </svg>
      </button>
    </nav>
  </div>
  <aside id="mobile_drawer" class="u_hide_all navbar__mobile_drawer">
    <ul class="navbar__mobile_links">
      <li><a href="/"> Home </a></li>
      <li><a href="/portfolio/">Portfolio</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </aside>
</header>

<script>
  import { elNotFound } from "../scripts/error";

  const toggler = document.getElementById("mobile_drawer_toggle");
  if (!toggler) {
    throw new Error(elNotFound("mobile_drawer_toggle"));
  }

  toggler.addEventListener("click", () => {
    const drawer = document.getElementById("mobile_drawer");
    if (!drawer) {
      throw new Error(elNotFound("mobile_drawer"));
    }

    const [openIcon, closeIcon] = toggler.children;

    const hideClassName = "u_hide_all";

    if (closeIcon.classList.contains(hideClassName)) {
      // Open drawer

      // Change icons
      closeIcon.classList.remove(hideClassName);
      openIcon.classList.add(hideClassName);

      // Show drawer
      drawer.classList.remove(hideClassName);
    } else {
      // Close drawer

      // Change icons
      closeIcon.classList.add(hideClassName);
      openIcon.classList.remove(hideClassName);

      // Hide drawer
      drawer.classList.add(hideClassName);
    }
  });
</script>

<style>
  @import url("/common.css");

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--font-color);
    background: var(--bg-color);
    z-index: 1;
  }

  .navbar__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__hamburger {
    border: none;
    background: inherit;
    height: 2.4rem;
    width: 2.4rem;
  }

  .navbar__nav {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .navbar__links {
    display: flex;
    gap: 2rem;
  }

  .navbar__links li {
    display: flex;
    align-items: center;
  }

  .navbar__mobile_drawer {
    transition:
      visibilty 250ms,
      opacity 250ms;
  }

  .navbar__mobile_links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    width: 100%;
    background: var(--bg-color);
    color: var(--font-color);
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    z-index: 2;
  }

  .navbar__mobile_links::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 196px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
</style>
