---
import Dialog from "./Dialog.astro";
import DialogTrigger from "./DialogTrigger.astro";

interface Props {
  dialogId: string;
  summary: string;
  author: string;
}

const { dialogId, summary, author } = Astro.props;
---

<article class="flex flex-col gap-[1.8rem] sm:h-full sm:justify-between">
  <blockquote class="italic text-[1.4rem]">
    {summary}
  </blockquote>
  <footer class="flex justify-between items-start gap-16">
    <Dialog dialogId={dialogId}>
      <div class="flex flex-col gap-8">
        <blockquote
          class="dark:prose-invert prose:text-[--font-color] prose-ul:list-disc prose-xl lg:prose-2xl prose-headings:text-[--primary]"
        >
          <slot />
        </blockquote>
        <span class="font-bold text-[1.4rem] text-right"></span>
      </div>
    </Dialog>
    <DialogTrigger dialogId={dialogId}>
      <span
        class="text-primary group-focus:text-secondary text-[1.4rem] hover:text-secondary"
        >Detail</span
      >
    </DialogTrigger>
    <span class="font-bold text-[1.4rem] text-right">{author}</span>
  </footer>
</article>
