---
import { ClientRouter, fade } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";

interface Props {
  title: string;
  variant?: "empty" | "no-top-padding" | "top-padding" | "navbar-only";
}

const { title, variant = "no-top-padding" } = Astro.props;

const isProd = import.meta.env.PROD;
---

<!doctype html>
<html lang="en" transition:persist>
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta
      name="description"
      content="Helping people to be create more smooth, reliable, engaging, powerfull and aesthethic web apps"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/favicon_black.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    {
      isProd && (
        <script
          is:inline
          defer
          src="https://madnanrizqu-umami.vercel.app/script.js"
          data-website-id="0ef15ebb-1936-4dea-8dae-10bf9da276af"
        />
      )
    }

    <ClientRouter />

    <script is:inline>
      const initTheme = () => {
        if (localStorage.getItem("data-theme")) {
          document.documentElement.setAttribute(
            "data-theme",
            localStorage.getItem("data-theme"),
          );
        }
      };

      initTheme();
      // Runs on view transitions navigation
      document.addEventListener("astro:after-swap", initTheme);
    </script>
  </head>
  <body
    class={variant === "empty"
      ? "h-[100dvh] flex justify-center items-center"
      : variant === "top-padding"
        ? "min-h-[100dvh] flex flex-col pt-[12rem]"
        : "min-h-[100dvh] flex flex-col"}
  >
    {variant !== "empty" && <Navbar />}

    <dir transition:animate={fade({ duration: "0.5s" })}>
      <slot />
    </dir>

    {variant !== "empty" && variant !== "navbar-only" && <Footer />}
  </body>
</html>
