---
interface Props {
  title: string;
  variant?: "centered" | "no-top-padding" | "top-padding";
}

const { title, variant = "no-top-padding" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta
      name="description"
      content="Helping people to be create more smooth, reliable, engaging, powerfull and aesthethic web apps"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/favicon_white.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body
    class={variant === "centered"
      ? "root_centered"
      : variant === "top-padding"
        ? "root_top_padding"
        : undefined}
  >
    <slot />
  </body>
</html>
<style is:global>
  .root_top_padding {
    padding-top: 12rem;
  }

  .root_centered {
    height: 100vh;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
